<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MvvmCross" version="6.0.0" targetFramework="monoandroid60" />
  <package id="MvvmCross.Plugin.BLE" version="2.0.0-pre2" targetFramework="monoandroid60" />
  <package id="Plugin.BLE" version="2.0.0-pre1" targetFramework="monoandroid60" />
</packages>